<h2>Trip</h2>

<form {{action save model on="submit"}}>

  <div class='form-group'>
    <label for="name">Name</label><br>
    {{view Ember.TextField valueBinding="name" id="name" classNames='form-control'}}
    <label for="name">Location</label><br>
    {{view Ember.TextField valueBinding="location" id="location" classNames='form-control'}}
  </div>

  <button type="submit" class='btn btn-primary'><i class="fa fa-save"></i>Save</button>

</form>

