<div class='row'>
  <div class="col-md-6">
    <h2>Itinerary</h2>
  </div>
</div>

<table class="table table-hover">
  <thead>
    <th>Activity</th>
    <th>Date</th>
	<th>Time</th>
  </thead>
  <tbody>    
    <tr>
      <td>Insert_Activity</td>
      <td>Insert_Date</td>
	  <td>Insert_Time</td>
    </tr>
  </tbody>
</table>

<div class='row'>
  <div class="col-md-6">
    <h3>Add New Itinerary Item:</h3>
  </div>
</div>

<table class="table">
  <thead>
    <th>Activity</th>
    <th>Date</th>
	<th>Time</th>
  </thead>
  <tbody>
    <tr>
    <td>{{view Ember.TextField valueBinding="itin-name" id="itin-name" classNames='form-control'}}</td>
    <td>{{view Ember.TextField valueBinding="itin-name" id="itin-name" classNames='form-control'}}</td>
    <td>{{view Ember.TextField valueBinding="itin-name" id="itin-name" classNames='form-control'}}</td>
</table>
  <button type="submit" class='btn btn-default'>Add</button>



