<div class='row'>
  <div class="col-md-6">
    <h2>Trips</h2>
  </div>
  <div class="col-md-6">
    {{#linkTo "new_trip" classNames="btn btn-primary pull-right"}}Create New Trip{{/linkTo}}
  </div>
</div>

<ul class="media-list">

  {{#each trip in controller}}

    
    <li class="media">
    {{#linkTo "trip" trip classNames="pull-left"}}
        <img class="media-object" src="http://maps.googleapis.com/maps/api/staticmap?center=Nantes+France&zoom=5&size=64x64&sensor=false" alt="...">
    {{/linkTo}}
      <div class="media-body">
        <h4 class="media-heading">{{ trip.name }}</h4>
        Date: 8 February 1828<br>
        User: Jules Verne
      </div>
    </li>
    

  {{/each}}
</ul>


